.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.accdata div {
  display: inline;
}
.accdata h4 {
  display: inline;
}
.accdata p {
  display: inline;
  margin-left: 16px;
}
